<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    {% load bootstrap3 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
</head>
<body>

<br>
<form method="post"> <!-- Чтобы не могли взаламать странмцу,токен - генерирует рандомные цифры -->
    {% csrf_token %}

    {{form}}

    <div class="form-group row">
    <label for="login_Form" class="col-sm-1 col-form-label">Login: </label>
    <div class="col-sm-2">
        <input type="text" class="form-control" id="login_Form" name = {{input_Login}}
                  placeholder="Input your login" value ="Input your login">
    </div>
  </div>
</form>


<form method="post">
    {% csrf_token %}

    <div class="form-group row">
    <label for="login_form1" class="col-sm-1 col-form-label">Login: </label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="login_form1" name = {{login_form}}
                  placeholder="Input your Login" value ="Input your Login">
    </div>
  </div>
</form>


<form method="post">
    {% csrf_token %}

    <div class="form-group row">
    <label for="email_form1" class="col-sm-1 col-form-label">Email: </label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="email_form1" name = {{email_form}}
                  placeholder="Input your email" value ="Input your email">
    </div>
  </div>

      <div class="form-group row">
    <label for="email_form2" class="col-sm-1 col-form-label">Repeat Email: </label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="email_form2" name = {{email_form}}
                  placeholder="Repeat your email" value ="Repeat your email">
    </div>
  </div>
</form>


<form method="post">
    {% csrf_token %}

  <div class="form-group row">
    <label for="password_form1" class="col-sm-1 col-form-label">Password: </label>
    <div class="col-sm-2">
      <input type="password" class="form-control" id="password_form1" name = {{password_form}}
                  placeholder="Input your password" value ="Input your password">
    </div>
  </div>


    <div class="form-group row">
    <label for="password_form2" class="col-sm-1 col-form-label">Repeat Password: </label>
    <div class="col-sm-2">
      <input type="password" class="form-control" id="password_form2" name = {{password_form}}
                  placeholder="Repeat your password" value ="Input your password">
    </div>
  </div>
</form>



    <form method="post">
        {% csrf_token %}
     <div class="form-group row">
    <label for="city_form" class="col-sm-1 col-form-label">Repeat Password: </label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="city_form" name = {{city_form}}
                  placeholder="Input your city" value ="Input your city">
    </div>
  </div>
    </form>

    <button class="btn btn-primary" type="submit">Complete registration</button>



{% block content %}
    <h1>New post</h1>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}


</body>
</html>